<h1> Add Actor</h1>


<form action = "/actors/create">
    <div>
        <label for="name">Name</label>
        <input id = "name" type = "text" name = "name">
    </div>
    
     <div>
        <label for="dob">Dob</label>
        <input id = "dob" type = "text" name = "dob">
    </div>
    
     <div>
        <label for="bio">Bio</label>
        <input id = "bio" type = "text" name = "bio">
    </div>
    
     <div>
        <label for="image_url">Image url</label>
        <input id = "image_url" type = "text" name = "image_url">
    </div>
    
    
    <button>
        Create actor
    </button>
    
</form>