<h1>Add Director</h1>

<form action="/directors/create">
  <div>
    <label for="image_url">
      Image url
    </label>

    <input id="image_url" type="text" name="image_url">
  </div>

  <div>
    <label for="name">
      Name
    </label>

    <input id="name" type="text" name="name">
  </div>

 <div>
    <label for="bio">
      Bio
    </label>

    <input id="bio" type="text" name="bio">
  </div>
  
   <div>
    <label for="dob">
      Dob
    </label>

    <input id="dob" type="text" name="dob">
  </div>
  
  
  <button>
    Create director
  </button>
</form>
