
<h1> Add a movie </h1>

<form action = "/movies/create">
    <div>
        <label for = "title"> Title </label>
        <input id = "title" type = "text" name = "title">
    </div>
    
    <div>
        <label for = "year"> Year </label>
        <input id = "year" type = "text" name = "year">
    </div>

    <div>
        <label for = "duration"> Duration </label>
        <input id = "duration" type = "text" name = "duration">
    </div>

    <div>
        <label for = "description"> Description </label>
        <input id = "description" type = "text" name = "description">
    </div>

    <div>
        <label for = "image_url"> Image url </label>
        <input id = "image_url" type = "text" name = "image_url">
    </div>
    
    <button>
        Create movie
    </button>
    
</form>